<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tính toán Hình chữ nhật</title>
</head>
<body>
<form th:action="@{/rectangle/calc}" method="post">
    <label>Chiều dài:</label>
    <input type="number" name="length" step="0.1" required><br><br>

    <label>Chiều rộng:</label>
    <input type="number" name="width" step="0.1" required><br><br>

    <button type="submit">OK</button>
</form>
<div>
    <div th:if="${area != null}">
        <p>DT: <span th:text="${length} + ' * ' + ${width} + ' = ' + ${area}"></span></p>
        <p>CV: <span th:text="2 + ' * (' + ${length} + ' + ' + ${width} + ') = ' + ${perimeter}"></span></p>
    </div>
    <div th:else>
        <p>DT: <span th:text="${DT}"></span></p>
        <p>CV: <span th:text="${CV}"></span></p>
    </div>
</div>
</body>
</html>